---
- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present

- name: Configure SSH
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
  notify: restart sshd

- name: Setup motd
  copy:
    src: motd
    dest: /etc/motd
